// Réglages fixes

body {
    background-color: $colorBody;
}

* {
    box-sizing: border-box;
}

// Responsive

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.col1 {
    width: 100%;
}

.col2 {
    width: calc(100%/2);
}

.col3 {
    width: calc(100%/3);
}

.wrapper {
    @include border('all');
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    background-color: $colorFond;
}

.header {
    background-color: $colorFond;
    display: flex;
    justify-content: space-between;
    height: 90px;
    position: relative;
    z-index: 90;
}

.volet {
    @extend %transition;
    @include border('bottom');
    background-color: $colorFond;
    position: absolute;
    height: 0;
    z-index: 50;
    overflow: hidden;

    &---active {
        height: 500px;
        padding: 20px;
    }

    &__content {
        opacity: 0;

        &---active {
            opacity: 1;
            transition: all 0.5s;
            transition-delay: 1.2s;
        }

        &__nav {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 20px 0;

            &--item {
                @extend %link-nav;
                display: inline-block;
                font-size: 26px;
                width: 50%;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

.main {
    position: relative;

    &__page {
        position: relative;

        &__num-page {
            display: none;
            position: absolute;
            bottom: 20px;
            right: 20px;

            p {
                font-size: 18px;
            }
        }
    }
}

.col-page {
    padding: 10px 20px;
}

@media (min-width: 800px) {

    .wrapper {
        max-width: 800px;
        display: flex;
        justify-content: space-between;
    }

    .volet {
        @include size(100%);
        @include border('right');
        border-bottom: 0;
        width: 102px;
        height: 100%;

        &---active {
            width: 798px;
            padding-left: 150px;
        }
    }

    .col-page {
        width: 50%;
        padding: 50px 60px;
        min-width: 500px;
        flex: 1;
    }

    .header {
        width: 100px;
        height: auto;
    }

}

@media (min-width: 1200px) {

    .wrapper {
        max-width: 1150px;
        height: 800px;
    }

    .volet {

        &---active {
            width: 1148px;
        }
    }

    .main {

        &--separation {
            width: 1px;
            height: 100%;
            background-color: $colorGrayBright;
        }
    }

    .main__page__num-page {
        display: block;
    }

    .col-page {
        width: 50%;
        flex: 1;
        overflow: auto;
        height: 100%;
        
        &::-webkit-scrollbar {
            width: 0;
        }
    }

}