// Réglages fixes

body {
    background-color: $colorBody;
}

* {
    box-sizing: border-box;
}

// Responsive

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.col1 {
    width: 100%;
}

.col2 {
    width: calc(100%/2);
}

.col3 {
    width: calc(100%/3);
}

.wrapper {
    @include border('all');
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    background-color: $colorFond;
}

.header {
    background-color: $colorFond;
    position: relative;
    z-index: 90;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__page {
        position: relative;

        &__num-page {
            display: none;
            position: absolute;
            bottom: 55px;
            right: 40px;

            p {
                font-size: 18px;
                position: fixed;
            }
        }
    }
}

.col-page {
    padding: 10px 20px;

    .titre-border_content:last-child {
        margin-bottom: 30px;
    }
}

.image-decorative {
    @extend %sepia;
    width: 100%;
}

.titre-border_content {
    position: relative;
    padding: 50px 15px 10px 15px;
    max-width: 500px;
    @include border('all');

    h3 {
        margin: 0;
    }
}

.titre-border_content+.titre-border_content {
    // margin quand un box en suit une autre
    margin-top: 50px;
}

// margin quand un box est enfant direct de col-page
.col-page>.titre-border_content {
    margin-top: 50px;
}

.main__page--titre-page+.titre-border_content {
    margin-top: 0px;
}

@media (min-width: 800px) {

    .wrapper {
        max-width: 800px;
        display: flex;
        justify-content: space-between;
    }

    .col-page {
        width: 50%;
        padding: 20px 60px;
        min-width: 500px;
        flex: 1;
    }

    .header {
        width: 100px;
        height: auto;
    }

}

@media (min-width: 1200px) {

    .wrapper {
        max-width: 1150px;
        height: 800px;
    }

    .main {
        flex-direction: row;

        &--separation {
            width: 1px;
            height: 100%;
            background-color: $colorGrayBright;
        }
    }

    .main__page__num-page {
        display: block;
    }

    .col-page {
        width: 50%;
        flex: 1;
        overflow: auto;
        height: 100%;
    }
}

//-- SCROLLBARS

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $colorOrangeBright;
}

::-webkit-scrollbar-thumb {
    background: $colorGrayBright;
}

::-webkit-scrollbar-thumb:hover {
    background: $colorGray;
}