h1,
h2,
h3,
p,
a {
    @extend %merryweather-light;
    margin: 0;
}

// -- TITRES

h1 {
    display: inline-block;
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

h2 {
    display: inline-block;
    padding: 4px;
    font-size: 24px;
    letter-spacing: 0.01em;
}

h3 {
    font-size: 19px;
    margin: 10px 0;
    letter-spacing: 0.01em;
    margin-left: 20px;
}

p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
}

a {
    @extend %merryweather-light-italic;
    color: $colorGray;
}

// -- SPANS

.text-big {
    font-size: 22px;
}

.titre-border {
    @include border('all');
    background-color: $colorFond;
    position: relative;
    top: -15px;
    left: 10px;
    ;
}

.date {
    @extend %merryweather-light-italic;
    font-size: 20px;
    margin: 0 20px;
}

// code

.code {

    &-rouge {
        color: rgba(252, 0, 0, 0.555);
    }

    &-bleu {
        color: rgba(35, 35, 201, 0.555);
    }

    &-violet {
        color: rgba(128, 0, 128, 0.555);
    }
}