//-- TITRES

h1 {
    @extend %merryweather-black-italic;
    display: inline-block;
    font-size: 37px;
    margin: 20px 0 50px 0;
    letter-spacing: 0.05em;
}

h2 {
    @extend %merryweather-regular;
    display: inline-block;
    padding: 4px;
    font-size: 30px;
    margin: 20px 0;
    letter-spacing: 0.01em;
}

h3 {
    @extend %merryweather-bold;
    font-size: 22px;
    padding: 4px;
    letter-spacing: 0.03em;
    margin: 20px 0 0 0;
}

h4 {
    @extend %merryweather-bold-italic;
    display: inline-block;
    font-size: 22px;
    padding: 4px;
    margin: 10px 0;
    letter-spacing: 0.01em;
    margin-left: 20px;
}

//-- TEXTES

p {
    @extend %merryweather-light;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    margin: 10px 0;
    max-width: 300px;
}

a {
    @extend %merryweather-light-italic;
    color: $colorGray;
    cursor: pointer;
}

strong,
b {
    @extend %merryweather-bold;
}

em {
    @extend %merryweather-italic;
}

//-- SPECIAUX

.lettrine::first-letter {
    @extend %merryweather-black;
    font-size: 50px;
}

.text-big {
    font-size: 28px;
}

h2.titre-border {
    @include border('all');
    background-color: $colorFond;
    position: absolute;
    top: -35px;
    left: 10px;
}

h3.titre-border {
    @extend h2.titre-border;
    top: -25px;
    display: inline-block;
}

.date {
    @extend %merryweather-light-italic;
    font-size: 20px;
    margin: 0 20px;
}

.annonce-prochainement {
    @extend %merryweather-light-italic;
    text-align: center;
    font-size: 25px;
    color: hsl(0, 0%, 60%);
}

//-- COLLISIONS

h1 + p {
    // si un texte suit un titre, voici son margin
    margin-top: 0px;
}

@media (min-width: 500px) {

    p {max-width: 400px;}
}