%marge {
    position: relative;
    top: 20px;
    left: 20px;
}

.header {

    &__raccourcis-nav {

        &__menu-burger {
            @include size(50px);
            position: relative;
            margin-top: 20px;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 20px;

            &--barre {
                background-color: $colorBlack;
                height: $sizeTrait;
                margin: 7px;

                &---min {
                    width: 25px;
                }

                &---max {
                    width: 42px;
                }

                &---moy {
                    width: 35px;
                }
            }
        }

        &-top {
            height: 80px;
        }
    }

    &__nav-roulante {
        display: none;

        &::-webkit-scrollbar {
            width: 0;
        }

        &--item {
            @include rotate('vertical-flip');
            @extend %link-nav;
            @extend %marge;
            transition: font-size 0.25s;
            display: inline-block;
            margin: 40px 0;
            width: 50px;
            font-size: 18px;
            padding: 10px;
        }
    }
}

@media (min-width: 800px) {

    .header {
        border-bottom: 0;

        &__raccourcis-nav {

            &__menu-burger {
                @include size(90px);
                left: 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                transition: transform 0.5s;

                &--barre {

                    &---min {
                        @include rotate(90);
                        width: 42px;
                    }

                    &---max {
                        display: none;
                    }

                    &---moy {
                        width: 42px;
                        top: 37px;
                        position: absolute;
                    }
                }

                &--rotated {
                    transform: rotate(45deg);
                }
            }
        }

        &__nav-roulante {
            @include size(50px, 200px);
            position: fixed;
            display: block;
        }
    }
}

@media (min-width: 1200px) {

    .header {
        border-bottom: 0;

        &__nav-roulante {
            position: static;
            display: block;

            &--item:hover {

                &:hover {
                    font-size: 22px;
                }
            }
        }
    }
}