.bouton {
    @include size(220px, 70px);
    @include border('all');
    @extend %link-nav;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;

    &:hover {
        background-color: $colorOrange;
    }
}