form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
        @include border('all');
        @extend %merryweather-light-italic;
        padding: 2px 10px;
        flex: 1;
        margin: 5px;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.02em;
    }

    input[type=text],
    input[type=email] {
        @include size(100%, 30px);
        background-color: $colorFond;

        &::placeholder {
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.02em;
        }
    }

    input[type=submit] {
        width: 100%;
        background-color: $colorOrange;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    textarea {
        @include border('all');
        @extend %merryweather-light;
        display: flex;
        margin: 5px;
        background-color: $colorFond;
        width: 100%;
        padding: 2px 10px;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.02em;

        &::placeholder {
            @extend %merryweather-light-italic;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.02em;
        }
    }
}

.error-form {
    border : 2px red solid;
}

.error-form-content {
    margin-top: 30px;
    border : 2px rgb(199, 80, 80) solid;
}

.error-form-message {
    color: rgb(199, 80, 80);
    text-align: center;
}