@mixin size($width, $height: $width) {
    // height s'il ne reçoit pas de valeur est égal à width
    width: $width;
    height: $height;
}

@mixin flex($space, $align: $space) {

    display: flex;
    justify-content: $space;
    align-items: $align;
}