// -- polices

%merryweather-light {
    font-family: 'Merriweather';
    font-weight: 300;
    font-style: normal;
}

%merryweather-light-italic {
    font-family: 'Merriweather';
    font-weight: 300;
    font-style: italic;
}

%merryweather-regular {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: normal;
}

%merryweather-italic {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: italic;
}

%merryweather-bold {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
}

%merryweather-bold-italic {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: italic;
}

%merryweather-black {
    font-family: 'Merriweather';
    font-weight: 900;
    font-style: normal;
}

%merryweather-black-italic {
    font-family: 'Merriweather';
    font-weight: 900;
    font-style: italic;
}

// -- Elements

%link-nav {
    text-decoration: none;
    color: $colorBlack;
    letter-spacing: 0.08em;
}

%sepia {
    filter: sepia(0.4);
}

%sepia-hover {
    filter: sepia(0.4);
    @extend %transition;

    &:hover {
        filter: sepia(0);
    }
}

%transition {
    transition: all 1.2s;
}