// -- polices

%merryweather-light {
    font-family: 'Merriweather';
    font-weight: 300;
    font-style: normal;
}

%merryweather-light-italic {
    font-family: 'Merriweather';
    font-weight: 300;
    font-style: italic;
}

// -- Elements

%link-nav {
    text-decoration: none;
    color: $colorBlack;
}

%border {
    border: $sizeTrait $colorBlack solid;
}

%sepia {
    filter: sepia(1);
}