// -- FONTS

$fontDecoration : 'Libre Caslon Text';
$fontEntete : 'Kano';
$fontCorps : 'Merriweather'; // les déclinaisons de la polices sont dispos en 'placeholders.scss'

// -- COLORS

$colorBlack : rgb(27, 27, 27);