// -- FONTS

$fontDecoration: 'Libre Caslon Text';
$fontEntete: 'Kano';
$fontCorps: 'Merriweather'; // les déclinaisons de la polices sont dispos en 'placeholders.scss'

// -- COLORS

$colorFond: rgb(216, 213, 210);
$colorOrange: rgb(204, 182, 161);

$colorBlack: rgb(27, 27, 27);
$colorWhite: rgb(245, 245, 245);
$colorGray: rgb(69, 69, 69);