.main {

    // &--separation {
    //     width: $sizeTrait;
    //     height: 500px;
    //     background-color: $colorBlack;
    // }

    &__page {

        &__presentation {
            display: flex;
            justify-content: space-between;
        }
    }
}

.photo-profile {
    @include size(90px, 120px);
    background-color: $colorBlack;
}