.main__page {

    &__outils {
        @include border('all');

        &__content {
            padding: 2px;

            &--icone {
                @include size(60px);
                margin: 5px;
            }
        }
    }

    &__competence {
        @include border('all');
        margin: 30px 0;

        &--item {
            margin-left: 20px;
            // font-size: 18px;
            // line-height: 40px;
        }
    }

    &__experiences {
        @include border('all');

        &__content {
            display: flex;
            flex-direction: column;

            &__activite {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

@media (min-width: 800px) {

    .main__page__outils__content--icone {
        @include size(70px);
    }
}

@media (min-width: 1200px) {

    .main__page__outils__content--icone {
        @include size(80px);
    }
}