h1,
h2,
h3,
p,
a {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: normal;
}

.header__nav-roulante--item {
  text-decoration: none;
  color: #1b1b1b;
}

.wrapper, .header__raccourcis-nav__loupe--cercle {
  border: 2px #1b1b1b solid;
}

body {
  margin-top: 50px;
  background-color: #d2cec1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row, .header__raccourcis-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
  margin: 0 auto;
}

.main {
  position: relative;
}

.main__n-page {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.col-page {
  padding: 50px 60px;
}

@media (min-width: 800px) {
  .wrapper {
    max-width: 800px;
  }
  .col-page {
    width: 50%;
    padding: 50px 60px;
    min-width: 500px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header {
    width: 100px;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    max-width: 1200px;
  }
  .col-page {
    width: 50%;
    padding: 50px 60px;
    max-width: 700px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../src/fonts/merriweather/Merriweather-Light.woff2") format("woff2"), url("../src/fonts/merriweather/Merriweather-Light.woff") format("woff"), url("../src/fonts/merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../src/fonts/merriweather/Merriweather-LightItalic.woff2") format("woff2"), url("../src/fonts/merriweather/Merriweather-LightItalic.woff") format("woff"), url("../src/fonts/merriweather/Merriweather-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

.header__raccourcis-nav__menu-burger--barre, .header__raccourcis-nav__loupe--cercle, .header__nav-roulante--item {
  position: relative;
  top: 20px;
  left: 20px;
}

.header {
  border-right: 2px #1b1b1b solid;
}

.header__raccourcis-nav__menu-burger {
  width: 90px;
  height: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__raccourcis-nav__menu-burger--barre {
  background-color: #1b1b1b;
  height: 2px;
  margin: 7px;
}

.header__raccourcis-nav__menu-burger--barre---min {
  width: 25px;
}

.header__raccourcis-nav__menu-burger--barre---max {
  width: 42px;
}

.header__raccourcis-nav__menu-burger--barre---moy {
  width: 35px;
}

.header__raccourcis-nav__loupe {
  width: 100px;
  height: 100px;
  position: relative;
  top: 10px;
  border-bottom: 2px #1b1b1b solid;
}

.header__raccourcis-nav__loupe--cercle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header__raccourcis-nav__loupe--manche {
  width: 20px;
  height: 2px;
  position: relative;
  left: 42px;
  top: 20px;
  background-color: #1b1b1b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__raccourcis-nav__fleche-suivant {
  width: 100px;
  height: 100px;
  border-top: 2px #1b1b1b solid;
}

.header__raccourcis-nav__fleche-suivant--barre {
  width: 30px;
  height: 2px;
  position: relative;
  background-color: #1b1b1b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 40px;
  top: 30px;
}

.header__raccourcis-nav__fleche-suivant--barre---reverse {
  width: 30px;
  height: 2px;
  position: relative;
  background-color: #1b1b1b;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  left: 20px;
  top: 30px;
}

.header__raccourcis-nav__fleche-suivant--barre---longue {
  width: 50px;
  height: 2px;
  position: relative;
  background-color: #1b1b1b;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 40px;
  left: 20px;
}

.header__nav-roulante {
  overflow: auto;
  width: 90px;
  height: 400px;
  -ms-overflow-style: none;
  overflow: -moz-srollbars-none;
}

.header__nav-roulante::-webkit-scrollbar {
  width: 0;
}

.header__nav-roulante--item {
  display: block;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin: 70px 10px;
  font-size: 18px;
}

.main__page__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-profile {
  width: 90px;
  height: 120px;
  background-color: #1b1b1b;
}
/*# sourceMappingURL=main.css.map */