h1,
h2,
h3,
h4,
p,
a, form textarea {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: normal;
}


a, .date, form input, form textarea::-webkit-input-placeholder {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
}


a, .date, form input, form textarea:-ms-input-placeholder {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
}


a, .date, form input, form textarea::-ms-input-placeholder {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
}


a, .date, form input, form textarea::placeholder {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
}

.bouton, .bouton-little, .header__nav-roulante--item, .volet__content__nav--item {
  text-decoration: none;
  color: #1b1b1b;
  letter-spacing: 0.08em;
}

.image-decorative, .main__page__presentation--photo-profil {
  -webkit-filter: sepia(0.4);
          filter: sepia(0.4);
}

.bloc-projet--image {
  -webkit-filter: sepia(0.4);
          filter: sepia(0.4);
}

.bloc-projet--image:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.bloc-projet--image, .volet {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

body {
  background-color: #d2cec1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.col1 {
  width: 100%;
}

.col2 {
  width: calc(100%/2);
}

.col3 {
  width: calc(100%/3);
}

.wrapper {
  border: 2px #1b1b1b solid;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  background-color: #e2decf;
}

.header {
  background-color: #e2decf;
  position: relative;
  z-index: 90;
}

.main {
  position: relative;
}

.main__page {
  position: relative;
}

.main__page__num-page {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 30px;
}

.main__page__num-page p {
  position: fixed;
  font-size: 18px;
}

.col-page {
  padding: 10px 20px;
}

.image-decorative {
  width: 100%;
}

@media (min-width: 800px) {
  .wrapper {
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col-page {
    width: 50%;
    padding: 50px 60px;
    min-width: 500px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header {
    width: 100px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1150px;
    height: 800px;
  }
  .main--separation {
    width: 1px;
    height: 100%;
    background-color: #a1a1a1;
  }
  .main__page__num-page {
    display: block;
  }
  .col-page {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto;
    height: 100%;
  }
  .col-page::-webkit-scrollbar {
    width: 0;
  }
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}

h1 {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 45px;
  letter-spacing: 0.05em;
}

h2 {
  display: inline-block;
  padding: 4px;
  font-size: 24px;
  margin: 20px 0;
  letter-spacing: 0.01em;
}

h3 {
  font-size: 19px;
  padding: 4px;
  letter-spacing: 0.01em;
  margin-left: 20px;
}

h4 {
  display: inline-block;
  font-size: 18px;
  padding: 4px;
  margin: 10px 0;
  letter-spacing: 0.01em;
  margin-left: 20px;
}

p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin: 10px 0;
}

a {
  color: #494949;
}

.lettrine::first-letter {
  font-size: 50px;
}

.text-big {
  font-size: 22px;
}

h2.titre-border, h3.titre-border {
  border: 2px #1b1b1b solid;
  background-color: #e2decf;
  position: relative;
  top: -35px;
  left: 10px;
}

h3.titre-border {
  top: -25px;
  display: inline-block;
}

.date {
  font-size: 20px;
  margin: 0 20px;
}

.code-rouge {
  color: rgba(252, 0, 0, 0.555);
}

.code-bleu {
  color: rgba(35, 35, 201, 0.555);
}

.code-violet {
  color: rgba(128, 0, 128, 0.555);
}

@font-face {
  font-family: 'Merriweather';
  src: url("../src/fonts/merriweather/Merriweather-Light.woff2") format("woff2"), url("../src/fonts/merriweather/Merriweather-Light.woff") format("woff"), url("../src/fonts/merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../src/fonts/merriweather/Merriweather-LightItalic.woff2") format("woff2"), url("../src/fonts/merriweather/Merriweather-LightItalic.woff") format("woff"), url("../src/fonts/merriweather/Merriweather-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

.bouton, .bouton-little {
  border: 2px #1b1b1b solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 70px;
  margin: 10px 20px;
  max-width: 200px;
  background-color: #ccb6a1;
}

.bouton-little {
  border: 2px #1b1b1b solid;
  max-width: 70px;
  max-height: 30px;
}

.case-coche, .case-a-cocher {
  width: 20px;
  height: 20px;
  border: 2px #1b1b1b solid;
  position: relative;
  margin: 15px 20px 15px 0;
}

.case-coche--branche-petite {
  width: 2px;
  height: 12px;
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
  background-color: #1b1b1b;
  position: relative;
  top: 2px;
  left: 4px;
}

.case-coche--branche-grande {
  width: 2px;
  height: 25px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  position: relative;
  top: -22px;
  left: 15px;
  background-color: #1b1b1b;
}

section[data-tab="tableau"] {
  border: 2px #1b1b1b solid;
  position: relative;
  margin-top: 30px;
  padding: 10px;
  height: 80%;
}

div[data-tab="chaine"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: -30px;
  width: 100%;
}

div[data-tab-etiquette] {
  border: 2px #1b1b1b solid;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: #e2decf;
}

.tab-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  top: 0px;
  background-color: #e2decf;
}

.tab-visible {
  display: block;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  border: 2px #1b1b1b solid;
  padding: 2px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form input[type=text],
form input[type=email] {
  width: 100%;
  height: 30px;
  background-color: #e2decf;
}

form input[type=text]::-webkit-input-placeholder,
form input[type=email]::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form input[type=text]:-ms-input-placeholder,
form input[type=email]:-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form input[type=text]::-ms-input-placeholder,
form input[type=email]::-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form input[type=text]::placeholder,
form input[type=email]::placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form input[type=submit] {
  width: 100%;
  background-color: #ccb6a1;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: center;
}

form textarea {
  border: 2px #1b1b1b solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  background-color: #e2decf;
  width: 100%;
  padding: 2px 10px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form textarea::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form textarea:-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form textarea::-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

form textarea::placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.error-form {
  border: 2px red solid;
}

.header__nav-roulante--item {
  position: relative;
  top: 20px;
  left: 20px;
}

.header__raccourcis-nav__menu-burger {
  width: 90px;
  height: 90px;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 20px;
}

.header__raccourcis-nav__menu-burger--barre {
  background-color: #1b1b1b;
  height: 2px;
  margin: 7px;
}

.header__raccourcis-nav__menu-burger--barre---min {
  width: 25px;
}

.header__raccourcis-nav__menu-burger--barre---max {
  width: 42px;
}

.header__raccourcis-nav__menu-burger--barre---moy {
  width: 35px;
}

.header__raccourcis-nav-top {
  height: 100px;
}

.header__nav-roulante {
  display: none;
}

.header__nav-roulante::-webkit-scrollbar {
  width: 0;
}

.header__nav-roulante--item {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform: rotate(vertical-flipdeg);
          transform: rotate(vertical-flipdeg);
  display: inline-block;
  margin: 50px 0;
  width: 50px;
  font-size: 18px;
}

@media (min-width: 800px) {
  .header {
    border-bottom: 0;
  }
  .header__nav-roulante {
    width: 50px;
    height: 200px;
    position: fixed;
    display: block;
  }
}

@media (min-width: 1200px) {
  .header {
    border-bottom: 0;
  }
  .header__nav-roulante {
    position: static;
    display: block;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 5px 5px;
}

.footer__reseau--icone {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.volet {
  border-bottom: 2px #1b1b1b solid;
  background-color: #e2decf;
  position: absolute;
  height: 0;
  z-index: 50;
  overflow: hidden;
}

.volet---active {
  height: 500px;
  padding: 20px;
}

.volet__content {
  opacity: 0;
}

.volet__content---active {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.volet__content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
}

.volet__content__nav--item {
  display: inline-block;
  font-size: 26px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

@media (min-width: 800px) {
  .volet {
    width: 100%;
    height: 100%;
    border-right: 2px #1b1b1b solid;
    border-bottom: 0;
    width: 102px;
    height: 100%;
  }
  .volet---active {
    width: 798px;
    padding-left: 150px;
  }
  .volet__content__nav {
    display: none;
  }
}

@media (min-width: 1200px) {
  .volet---active {
    width: 1148px;
  }
}

.main__page__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__page__presentation--photo-profil {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.main__page__competences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

.main__page__competences__domaine {
  border-top: 2px #1b1b1b solid;
  border-bottom: 2px #1b1b1b solid;
  padding: 5px;
  margin: 5px 0;
}

.main__page__competences__domaine--titres {
  font-size: 28px;
  margin: 10px 0;
}

.main__page__code p {
  color: #494949;
}

.photo-profile {
  width: 90px;
  height: 120px;
  background-color: #1b1b1b;
}

.main__page__outils {
  border: 2px #1b1b1b solid;
}

.main__page__outils__content {
  padding: 2px;
}

.main__page__outils__content--icone {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.main__page__competence {
  border: 2px #1b1b1b solid;
  margin: 40px 0;
}

.main__page__competence--item {
  margin-left: 20px;
  font-size: 18px;
  line-height: 40px;
}

.main__page__competence--item:last-child {
  margin-bottom: 20px;
}

.main__page__experiences {
  border: 2px #1b1b1b solid;
}

.main__page__experiences__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__page__experiences__content__activite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 20px;
}

@media (min-width: 800px) {
  .main__page__outils__content--icone {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1200px) {
  .main__page__outils__content--icone {
    width: 80px;
    height: 80px;
  }
}

.texte-form {
  margin: 0 0 20px 0;
}

.coordonnes-bloc {
  border: 2px #1b1b1b solid;
}

.coordonnes-bloc p {
  margin: 10px 20px;
}

.coordonnes-bloc p:last-child {
  margin-bottom: 20px;
}

.panneau-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.panneau-titre div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc-projet {
  border: 2px #1b1b1b solid;
  margin: 40px 0 10px 0;
}

.bloc-projet--image {
  width: 90%;
  height: 100%;
}

.bloc-projet__description {
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */